@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
    
}
a{
    text-decoration: none;
    cursor: pointer;
}
  
[class*="col-"] {
    float: left;
   
}

[class*="col-"] {
    width: 100%;
}
  
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
/* @media only screen and (min-width: 200px) {
    .fuckingSamll {font-size: 1rem;}
} */

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #a70202 ; 
  }
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(0, 0, 0); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 0, 0);
  }

body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    min-height: 100vh;
    color: #fff;
    font-size: 2rem;
    background-color: black;
    text-overflow: ellipsis;
    
}
/* nav */

/* maincontainer */
#main_container{
    background-color: #70051759;
    background-image: linear-gradient(315deg, #8601013b 0%, #0a0230 74%);
    background-size: 305% 305%;
    -webkit-animation: Animate 20s ease-in-out infinite;
    -moz-animation: Animate 20s ease-in-out infinite;
    animation: Animate 20s ease-in-out infinite;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
    text-align: center;
}

#main_container:before{
    content: "";
    background-image: url(../img/sky.jpg);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;

    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    background-size: 145% 145%;
    -webkit-animation: Animate 200s ease-in-out infinite;
    -moz-animation: Animate 200s ease-in-out infinite;
    animation: Animate 200s ease-in-out infinite;
}

#canvas_box{
    margin: 5em 2em;
    position: relative;
    display: block;
    width: 80%;
    color: white;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to bottom, red, rgba(0, 0, 0, 0)) 1 100%;
    box-shadow: 5px 5px 50px #010309;
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
.myName{
    text-transform: uppercase;
    font-size: 2.8rem;
    padding: 1rem 0rem 4rem;    
}
.profile{
    border-radius: 50%;
    width: 30%;
    box-shadow: 5px 5px 50px #010309;
    box-sizing: border-box;
    background-color: red;
    margin: 20px;
    padding: 0.3rem;
    background: linear-gradient(316deg, #ff0000, #00ff0e);
    background-size: 200% 200%;
    -webkit-animation: Animate 13s ease infinite;
    -moz-animation: Animate 13s ease infinite;
    animation: Animate 13s ease infinite;
}
@-webkit-keyframes Animate {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Animate {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Animate {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
/* countdown---------------------------------------------------------------------------------------------------------- */
.small-text{
    font-size: 1rem;

    margin: 0 1rem;
}
h4{
    font-size: 2.5rem;
}

.countdown-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
   
}
.count-c{
    text-align: center;
    text-transform: capitalize;
}
/* death toll--------------------------------------------------------------------------------------------- */
#second_container{
    background-color: #000;
   
    min-height: 600px;
    
}

@-webkit-keyframes blackspace {
    0%{background-position:0% 13%}
    50%{background-position:100% 88%}
    100%{background-position:0% 13%}
}
@-moz-keyframes blackspace {
    0%{background-position:0% 13%}
    50%{background-position:100% 88%}
    100%{background-position:0% 13%}
}
@keyframes blackspace {
    0%{background-position:0% 13%}
    50%{background-position:100% 88%}
    100%{background-position:0% 13%}
}
    


/* death toll table------------------------------------------------------------------ */
.death_toll{
    display: flex;
    justify-content: center;
    padding: 2rem 3rem 3rem;
    text-transform: capitalize;
}
.death_tr{
    background-color: #eb081a;
    
}
.death_td{
    padding: 1rem 3rem;
}
.caption_td{
    padding: 3rem 1.5rem 0.3rem;
}

.chart{
    margin-top: 80px;
}
.death-img{
    display: flex;
    justify-content: center;
}
#deathimg{
    padding: 20px;;
}
.credit{
    display: flex;
    justify-content: center;
    padding: 5rem 3rem 0rem;
    text-transform: capitalize;
}
.second-cont-img{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    align-items: stretch;
    width: 100%;
    object-fit:contain;
}
.second-cont-img:hover {
    opacity: 0.7;
}
/* IMGZOOM----------------------------- */

.credit>a{
    font-size: 2.5rem;
    text-decoration-line: none;
    line-height: inherit;
}

.credit>a:active {
    color: #eb081a;
}
.credit>a:visited {
    color: #eb081a;
    opacity: 0.8;
}
.credit>a:hover {
    color: lime; 
}



/* thirdcontainer */
#third_container{
    background-color: #000;
    padding: 20px 100px;
    
    
}
.thrid_box{
    margin: 10px;
    display: block;
    box-shadow: 3px 3px 100px #720202;
    text-align : justify;
    justify-content: center;
    font-family: roboto;
}

.small_box{
    background-color: #870808 ;
    min-height: 300px;
    font-size: 1.8vw;
    padding: 2rem 3rem;
    line-height: 1.6;
    
}
.black{
    background-color: rgb(0, 0, 0)!important;
}
.small_box h4{
    letter-spacing: 5px;
    font-size: 3vw;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}
.red{
    background-color: #880808;
    height: 100%;
    width: 100%;
    /* align-items: stretch; */
}
.row > .red{
    align-items: stretch;
}
.third-cont-img{
    width: 100%;
    height: 100%;
}
.col{
    padding: 0 auto;
}


/* test */

#forth_container
{
	width: 100%;
	height: 100%;
}
.trans
{
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	-webkit-transition: all 1s ease;
}
.top
{
	display: flex;
	width: 80vw;
	height: 80vh;
	margin-top: 10vh;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10vh;
    position: relative;
}
.top ul
{
	list-style: none;
	width: 100%;
	height: 100%;
	z-index: 1;
	box-sizing: border-box;
    padding-inline-start:0;
    margin: 1rem;
}
.top ul li
{
	position: relative;
	float: left;
	width: 25%;
	height: 25%;
	overflow: hidden;
}

.top ul li::before /*just cover with black*/
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	content: '';
	color: white;
	opacity: 0.2;
	text-align: center;
	box-sizing: border-box;
	pointer-events: none;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
.top ul li:hover::before
{
	opacity: 0;
	background-color: rgba(0,0,0,0.90);
}
.top ul li img
{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.lightbox
{
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.75);
	z-index: 999;
	opacity: 0;
	pointer-events: none;
}
.lightbox img
{
	max-width: 90%;
	max-height: 80%;
	position: relative;
	top: -100%; /*appear from */
	/* Transition */
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	-webkit-transition: all 1s ease;
}
.lightbox:target
{
	outline: none;
	top: 0;
	opacity: 1;
	pointer-events: auto;
	transition: all 1.2s ease;
	-moz-transition: all 1.2s ease;
	-ms-transition: all 1.2s ease;
	-o-transition: all 1.2s ease;
	-webkit-transition: all 1.2s ease;
}
.lightbox:target img
{
	top: 0;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.forthhead{
    text-align: center;
    letter-spacing: 1rem;
    padding-top: 5rem;
}

.text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    top: 0; 
    text-align: center;
    top: 50%;
    transform: translateY(-50%); /*center htar*/
    width: 100%;
    text-overflow: ellipsis;
    opacity: 0;
    text-transform: uppercase;
    cursor: pointer;
    color: red;
}
.text:hover{
    opacity: 0.8;
}














@media only screen and (max-width: 768px) {
    #third_container{padding: 50px 0px 0px;}
    .small_box{font-size: 5vw; border-bottom: 1px solid #ffffff50;}
    .small_box h4{ font-size: 6vw;}
    .top ul li{width: 100%; height: 20vh;}
    .top{width: 100%; height: 20%;}
    .top ul{padding-inline-start:0; margin: 1rem;}
    .profile{padding: 0;}
}
@media only screen and (max-width: 400px) {
    body{font-size: 2vw;}
    .myName{font-size: 2.3vw;}
    h4{font-size: 1vw;}
    .small-text{font-size: 1.7vw;}
    
}
footer{
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 1.2rem;
    box-shadow: 2px 2px 100px #720202;
}


/*register css*/
.reg{
    display: flex;
    min-height: 666px;
    margin: 2em 2em;
    z-index: 3;
    display: block;
    width: 80%;
    color: white;
    box-shadow: 3px 3px 50px #314481;

    background-image: url(../img/city.jpg);
    position: relative;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    
    
    
}
.reg_left{
    height: 100%;
    border-radius:20px 0px 0px 20px;
    
}
.reg_right{
    overflow: auto;
    background-color: rgba(255, 255, 255);
    height: 100%;
    color: #870808;
    border-radius: 20px 0 0 20px;
    position: absolute;
    right: 0;
    z-index: 2;
    min-width: 400px;
}
.bottom_text{
    position:relative;
    width:100%;
    height:85%;
    text-align: center;
    
    
}
.bottom_text span{
    position:absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    font-size: 2.5rem;
}
.bottom_button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.reg button{
    border: none;
    padding: 15px 32px;
    text-align: center;
    
    font-size: 16px;
    background: #FC466B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 150% 590%;
    border-radius: 9999px;
    min-width: 150px;
    margin: 1rem;
    color: white;
    cursor: pointer;
    opacity: 0.95;
    background-blend-mode: lighten;
    
}
.reg button:hover{
    background-blend-mode: lighten;
    opacity: 1;
}
.bottom_button button{
    box-shadow: 3px 3px 50px #72798f;
}
.reg a{
    color: #3b3bf3;
}
.reg a:active{
    color: #3b3bf3;
}
.reg a:visited{
    color: #3b3bf3;
    opacity: 0.8;
}
.reg a:hover{
    color: rgb(0, 17, 255);
}
#log_in{
    margin: 0;
    padding: 10px 50px;
    
}
.reg h3{
    text-align: left;
    margin-left: 1rem;
    font-size: 2.3rem;
}
form{
    width: 100%;
    text-align: left;
    font-size: 1rem;
    line-height: 3rem;
    box-sizing: border-box;
    border: none;
    
    padding: 0rem 1rem 1rem;
    margin: 0;
    font-family: roboto;
}
input[type=text],[type=password]{
    display:block;
    width: 100%;
    padding: 2px ;
    border: none;
    border-bottom: 2px solid rgb(156, 0, 228);
    font-size: 1rem;
}
input::-webkit-input-placeholder {
    color: #720202; 
    opacity: 0.2; 
}
label{
    display:block;
    width: 100%;
    margin: 0;
    padding-top: 1rem;
    opacity: 0.6;
    font-size: 15px;
    
}
input:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(156, 0, 228);
}
form button{
    width: 100%;
    align-items: center;
    margin: 50px 0 10px!important;

}
form p{
    text-align: right;
    margin-top: 20px;
}

.reg_right,.reg_right2 span{
    font-size: 1rem;
    letter-spacing: 1.5px;
    
}


.login_animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

.reg_right2{
    display: none;
    overflow: auto;
    background-color: rgba(255, 255, 255);
    height: 100%;
    color: #870808;
    border-radius: 20px 0 0 20px;
    position: absolute;
    right: 0;
    z-index: 2;
    min-width: 400px;
}
#register{
    margin: 0;
    padding: 10px 50px;
    
}



  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
@media only screen and (max-width:1000px){
    .bottom_text span{display: none;}
}

@media only screen and (min-width: 768px) {
    .bottom_button  button{display: none;}
    .reg_right{display: block;}
    }

@media only screen and (max-width: 768px) {
    .reg{
        margin:20px;
        width: 100%;
    }
    .reg_right{
        display: none;
    }
    .bottom_text span{display: block;}
    .bottom_button a button{display: inline-block;}
}