@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
}

  
[class*="col-"] {
    float: left;
    padding: 15px;
}

[class*="col-"] {
    width: 100%;
}
  
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
/* @media only screen and (min-width: 200px) {
    .fuckingSamll {font-size: 1rem;}
} */

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #010203 ; 
  }
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px red; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    min-height: 100vh;
    color: #fff;
    
    font-size: 2rem;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    
}

.main_container{
    
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 5em 2em;
    position: relative;
    text-align: center;
    
    
    /* align-items: center; */
}

.main_container:before{
    content: "";
    background-image: url(./sky.jpg);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;

    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#canvas_box{
    position: relative;
    display: block;
    width: 80%;
    
    /* padding: 1rem; */
    color: white;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to bottom, red, rgba(0, 0, 0, 0)) 1 100%;
    box-shadow: 5px 5px 50px #010309;
    
    text-align: center;
    align-items: center;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.myName{
    text-transform: capitalize;
    font-size: 2.5rem;
    padding: 2rem 0rem 4rem;
}
.profile{
    border-radius: 50%;
    width: 40%;
    box-shadow: 5px 5px 50px #010309;
    box-sizing: border-box;
    background-color: red;
    padding: 0.3rem;
    background: linear-gradient(316deg, #ff0000, #00ff0e);
    background-size: 400% 400%;
    -webkit-animation: Animate 13s ease infinite;
    -moz-animation: Animate 13s ease infinite;
    animation: Animate 13s ease infinite;
}
@-webkit-keyframes Animate {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Animate {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Animate {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
/* countdown---------------------------------------------------------------------------------------------------------- */
.small-text{
    font-size: 1rem;

    margin: 0 1rem;
}
h4{
    font-size: 2.5rem;
}

.countdown-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
}
.count-c{
    text-align: center;
    text-transform: capitalize;
}
/* death toll--------------------------------------------------------------------------------------------- */
.second_container{
    background: linear-gradient(159deg, #000000, #1a0566);
    background-size: 400% 400%;
    min-height: 600px;
    -webkit-animation: blackspace 21s ease infinite;
    -moz-animation: blackspace 21s ease infinite;
    animation: blackspace 21s ease infinite;
}

@-webkit-keyframes blackspace {
    0%{background-position:0% 13%}
    50%{background-position:100% 88%}
    100%{background-position:0% 13%}
}
@-moz-keyframes blackspace {
    0%{background-position:0% 13%}
    50%{background-position:100% 88%}
    100%{background-position:0% 13%}
}
@keyframes blackspace {
    0%{background-position:0% 13%}
    50%{background-position:100% 88%}
    100%{background-position:0% 13%}
}
    

/* Flashcard--------------------------------------------------------------------------------------------- */
.third_container{
    margin: 0;
    background-color: #770a13;
    background-image: linear-gradient(315deg, #b3cdd1 0%, #1b31c0 100%);
    background-blend-mode: lighten;
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
}
.third_container:before{
    content: "";
    background-image: url(./city.jpg);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;

    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.flashcard-container{
    position: relative;
    background-color: #fffafa;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 7px 5px rgba(100, 100, 100, 0.1);
    max-width: 100%;
    overflow: hidden;
    color: black;
    
}
#question_text{
    padding: 2rem 1rem 0rem 2rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}
ul{
    list-style: none;
    padding: 0.5;
}
ul li{
    margin:1rem 0;
}
ul li label{
    cursor: pointer;
}
#flashcard_btn{
    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    display: block;
    width: 100%;
    padding: 1.5rem;
    color: #fffafa;
    font-family: inherit;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}
.flashcard:hover {
    opacity: 0.8;
}
.scoreText{
    display: flex;
    justify-content: center;
    padding: 4rem;
    text-align: center;
    min-height: 5cm;
    font-size: 1.5rem;
}
/* death toll table------------------------------------------------------------------ */
.death_toll{
    display: flex;
    justify-content: center;
    padding: 2rem 3rem 5rem;
    text-transform: capitalize;
}
.death_tr{
    background-color: #eb081a;
    
}
.death_td{
    padding: 1rem 3rem;
}
.caption_td{
    padding: 3rem 1.5rem 0.3rem;
}
.chart{
    margin-top: 80px;
    
    
}
.death-img{
    display: flex;
    justify-content: center;
    
}



#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
a{
    font-size: 2.5rem;
    text-decoration-line: none;
    line-height: inherit;
}

a:active {
    color: #eb081a;
}
a:visited {
    color: #eb081a;
    opacity: 0.8;
}
a:hover {
    color: lime; 
}
@media only screen and (max-width: 400px) {
    body{font-size: 2vw;}
    .myName{font-size: 2.3vw;}
    h4{font-size: 1vw;}
    .small-text{font-size: 1.7vw;}
    
}
